Subfolder
%h1 Listing tenants

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Name
      %th Subfolder
      %th

  %tbody
    - @tenants.each do |tenant|
      %tr
        %td= tenant.id
        %td= tenant.name
        %td= tenant.subfolder
        %td
          = link_to tenant do
            %i.fa.fa-eye{title: 'Show'}
          = link_to edit_tenant_path(tenant) do
            %i.fa.fa-pencil{title: 'Edit'}
          = link_to tenant, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fa.fa-trash-o{title: 'Destroy'}

%br
= link_to new_tenant_path do
  .btn
    %i.fa.fa-plus
    New tenant
