!!!
%html
  %head
    %title Sluiters
    = csrf_meta_tags
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all"
  %body

    - flash.each do |name, msg|
      - if msg.is_a?(String)
        = content_tag :div, msg, :class => "flash_#{name}"

    = yield

